@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Aptos;}
 /* Style Definitions */
 p {
	text-align: justify;
 }
 li {
    list-style: disc; }
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Aptos",sans-serif;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"Header Char";
	margin:0cm;
	font-size:11.0pt;
	font-family:"Aptos",sans-serif;}
p.Style1, li.Style1, div.Style1
	{mso-style-name:Style1;
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:justify;
	text-indent:0cm;
	line-height:107%;
	page-break-after:avoid;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;
	font-weight:bold;}
p.Style2, li.Style2, div.Style2
	{mso-style-name:Style2;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:70.9pt;
	text-align:justify;
	text-indent:-35.45pt;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
p.Style3a, li.Style3a, div.Style3a
	{mso-style-name:Style3a;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:106.3pt;
	text-align:justify;
	text-indent:-35.4pt;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
p.Style311, li.Style311, div.Style311
	{mso-style-name:"Style3\.1\.1";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:106.3pt;
	text-align:justify;
	text-indent:-35.4pt;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
p.Style2n, li.Style2n, div.Style2n
	{mso-style-name:Style2n;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:35.45pt;
	text-align:justify;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
p.Style3n, li.Style3n, div.Style3n
	{mso-style-name:Style3n;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:70.9pt;
	text-align:justify;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
p.Style4, li.Style4, div.Style4
	{mso-style-name:Style4;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:5.0cm;
	text-align:justify;
	text-indent:-35.45pt;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
p.Style2a, li.Style2a, div.Style2a
	{mso-style-name:Style2a;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:70.9pt;
	text-align:justify;
	text-indent:-35.45pt;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
p.Style4a, li.Style4a, div.Style4a
	{mso-style-name:Style4a;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:5.0cm;
	text-align:justify;
	text-indent:-35.45pt;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
span.HeaderChar
	{mso-style-name:"Header Char";
	mso-style-link:Header;}
.MsoChpDefault
	{font-size:12.0pt;}
 /* Page Definitions */
 @page WordSection1
	{size:595.3pt 841.9pt;
	margin:72.0pt 72.0pt 72.0pt 72.0pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}

@media (max-width: 519.98px){
    .remove_margin {
        margin-left: 34.9pt;
    }
    .text_align {
        text-align: unset !important;

    }
}