.image_container_left {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px dashed #B2B4C3;
}

input[type="file"] {
    height: 0; 
    overflow: hidden;
    width: 0;
}

input[type="file"] + label{
   background-color: var(--color-Active-button-bg);
    color: var(--color-Active-button-font);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 10px 40px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}


input[type="file"]:disabled + label {
    background: gray;
    color: #cccccc;
    cursor: not-allowed;
}

.fileCapture_btn:disabled{
    background: gray;
    color: #cccccc;
    cursor: not-allowed;
}

.image_container_right {
    padding: 0px 20px;
}
.camera {
    height: 200px;
    position: relative;
}
.camera img {
    width: 40px;
    position: absolute;
    right: 40%;
    bottom: 15px;
}

.photoSwap{
    background: white;
    border-radius: 100%;
    width: 30px !important;
    margin-right: 100px;
    margin-bottom: 5px;
}

video {
    width: 100%;
    height: 200px;
    /* max-height: 100%; */
    border-radius: 20px;
}

canvas {
    display: none;
}

.preview-image {
    height: 250px;
    margin-bottom: 10px;
    /* object-fit: cover;  */
    border: 1px solid #ddd;
    border-radius: 5px;
}

.slds-card__body {
    padding: 1rem;
}

.lightning-card {
    margin-bottom: 1rem;
}

button {
    margin: 5px;
}

.close_icon {
    position: absolute;
    top: -7px;
    right: 5px;
    cursor: pointer;
    z-index: 1000;
    width: 21px;
    height: 21px;
    align-items: center;
    justify-content: center;
    display: flex; 
    background-color: var(--color-tabel-colum-heder-font) !important;

}
.items {
    position: relative;
    padding-right: 12px;
    margin-bottom: 10px;
    width: 50%;
}
.preview_image {
    /* width: 50%; */
    height: 100%;
    size: 100% auto;
    border-radius: 10px;
    object-fit: cover;
}
.capture_items {
    position: relative;
    margin-top: 16px;
    width: 50%;
}


@media (max-width: 1023px) {
    .items {
        width: 50%;
    }
}

@media (max-width: 767.98px){
    .items {
        width: 50%;
    }
    .image_container_left {
        height: 200px;
    }
    .image_container_right {
        margin-top: 20px;
        padding: 0;
    }
    .preview_image {
        height: 120px;
        object-fit: contain;
    }
    .image_container_right_data {
        justify-content: center;
    }
    /* .preview_image {
        width: 100%;
        height: 75px;
        size: 100% auto;
        border-radius: 10px;
        object-fit: cover;
    } */


}

.slds-col.uploadIcon {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    
}

.centered-img {
    max-width: 30%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
    max-height: 100%; /* Ensures the image does not exceed the div's height */
    margin-bottom: 18px; /* Space between icon and button */
}

.fileCapture_btn{
    background-color: var(--color-Active-button-bg);
    color: var(--color-Active-button-font);
    border: none;
    border-radius: 8px; /* Rounded corners */
    padding: 11px 20px; /* Padding for size */
    font-size: 15px; /* Font size */
    /*font-weight: bold; /* Bold text */
    cursor: pointer;
    width: 100%; /* Full width for smaller screens */
    max-width: 200px; /* Max width for larger screens */
    /*box-sizing: border-box; /* Include padding in the element's total width and height */
    margin-top: 20px;
}


@media (max-width: 480px) {
    .confirmButton-Form64 {
        font-size: 14px; /* Smaller font size for small screens */
        padding: 8px 16px; /* Smaller padding for small screens */
    }
    .photoSwap{
        width: 25px !important;
        margin-right: 50px;
    }
}

.confirmButton-Form64:hover {
    background-color: #c62828; /* Darker red on hover */
}

.confirmButton-Form64:active {
    background-color: #b71c1c; /* Even darker red on click */
}

.confirmButton-Form64:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(211, 47, 47, 0.5); /* Custom focus outline */
}
.guide_image {
    /* height: 300px; */
     position: absolute; 
    width: 50%;
    top: 0%;
    left: 45%;
}
@media (max-width: 991.98px){
 .guide_image{
     position: absolute; 
    width: 36%;
    top: 26%;
    left: 60%;
 }
}

@media (max-width: 767.98px){
    .guide_image{
        text-align: center;
        width: unset;
        position: unset;
    }
    .guide_image img{
        width: 50%;
        
    }
   }